server:
  port: 8080
spring:
  devtools:
    restart:
      enabled: true
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://192.168.20.132:8066/TESTDB
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
    max-idle: 10
    max-wait: 10000
    min-idle: 5
    initial-size: 5
  thymeleaf:
    mode: LEGACYHTML5
    cache: false
#    prefix: /templates/
#    suffix: .html
  mvc:
    static-path-pattern: /**
  resources:
    static-locations: classpath:/templates/,classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
mybatis:
  type-aliases-package: com.primeton.domain
logging:
  config: src/main/resources/config/logback.xml
  level:
    org:
      springframework:
        web: INFO
      springboot:
        sample: TRACE
