server:
  port: 8080
spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    max-idle: 10
    max-wait: 10000
    min-idle: 5
    initial-size: 5
mybatis:
  type-aliases-package: com.primeton.domain
logging:
  level:
    org:
      springframework:
        web: INFO
      springboot:
        sample: TRACE
