<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >

<head th:include="include :: header"></head>

<body class="gray-bg">

<div class="fixed-table-toolbar">
    <div class="columns pull-left">
        <button class="btn  btn-primary" onclick="add()" type="button">
            <i aria-hidden="true" class="fa fa-plus hidden"></i>添加
        </button>
        <button class="btn  btn-danger" onclick="batchRemove()" type="button">
            <i aria-hidden="true" class="fa fa-trash hidden"></i>删除
        </button>
    </div>
    <div class="columns pull-right">
        <button class="btn btn-success" onclick="reLoad()">查询</button>
    </div>

    <div class="columns pull-right col-md-2 nopadding">
        <input class="form-control" id="searchName" placeholder="姓名" type="text">
    </div>
</div>

<div class="bootstrap-table">
    <div class="fixed-table-toolbar">
        <div class="bars pull-left"></div>
    </div>
    <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-header" style="display: none;">
            <table></table>
        </div>
        <div class="fixed-table-body">
            <div class="fixed-table-loading" style="top: 37px; display: none;">正在努力地加载数据中，请稍候……</div>
            <table data-mobile-responsive="true" id="exampleTable" class="table table-hover table-striped"
                   style="margin-top: 0px;">
                <thead style="display: table-header-group;">
                <tr>
                    <th class="bs-checkbox " style="width: 36px; " data-field="0" tabindex="0">
                        <div class="th-inner "><input name="btSelectAll" type="checkbox"></div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="operatorId" tabindex="0">
                        <div class="th-inner ">操作员ID</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="tendId" tabindex="0">
                        <div class="th-inner ">租户ID</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="userId" tabindex="0">
                        <div class="th-inner ">用户ID</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="userName" tabindex="0">
                        <div class="th-inner ">用户名</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="passWord" tabindex="0">
                        <div class="th-inner ">密码</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="unlockTime" tabindex="0">
                        <div class="th-inner ">解锁时间</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="lastLogin" tabindex="0">
                        <div class="th-inner ">最后登录时间</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="" data-field="createTime" tabindex="0">
                        <div class="th-inner ">创建时间</div>
                        <div class="fht-cell"></div>
                    </th>
                    <!--<th style="text-align: center; " data-field="status" tabindex="0">
                        <div class="th-inner ">状态</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="text-align: center; " data-field="id" tabindex="0">
                        <div class="th-inner ">操作</div>
                        <div class="fht-cell"></div>
                    </th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userList}">
                    <td class="bs-checkbox"><input data-index="0" name="btSelectItem" type="checkbox"></td>
                    <td th:text="${user.operatorId}"></td>
                    <td th:text="${user.tenantId}"></td>
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.passWord}"></td>
                    <td th:text="${user.unlockTime}"></td>
                    <td th:text="${user.lastLogin}"></td>
                    <td th:text="${user.createTime}"></td>
                    <!--<td style="text-align: center; "><span class="label label-primary">正常</span></td>
                    <td style="text-align: center; "><a class="btn btn-primary btn-sm " href="#" mce_href="#" title="编辑"
                                                        onclick="edit('137')"><i class="fa fa-edit "></i></a> <a
                            class="btn btn-warning btn-sm " href="#" title="删除" mce_href="#" onclick="remove('137')"><i
                            class="fa fa-remove"></i></a> <a class="btn btn-success btn-sm " href="#" title="重置密码"
                                                             mce_href="#" onclick="resetPwd('137')"><i
                            class="fa fa-key"></i></a></td>-->
                </tr>
                </tbody>
            </table>
        </div>

        <div class="fixed-table-pagination" >
            <div class="pull-left pagination-detail" style="display:inline;">
                <span class="pagination-info">显示第
                    <span th:text="${pageInfo.begin}"></span> 到第
                    <span th:text="${pageInfo.end}"></span> 条记录，总共
                    <span th:text="${pageInfo.totalPageCount}"></span> 页，
                    <span th:text="${pageInfo.totalRecordCount}"></span> 条记录
                </span>
                <span class="page-list">每页显示
                    <span class="btn-group dropup">
                        <select id="recordsPerPage" class="select page-size" name="recordsPerPage" style="background: transparent;" onchange="window.location.href='/perPageCount?perPageRecordCount=' + this.value + '?page=0'">
                            <option value="5" selected = 'selected' >5</option>
                            <option value="10" >10</option>
                        </select>
                        <!--<button type="button" class="btn btn-default  btn-outline dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="page-size" th:text="${pageInfo.perPageRecordCount}"></span>
                            <span class="caret"></span>

                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active">
                                <a href="#" th:herf="@{/perPageCount(param.perPageRecordCount=10)}" >10
                                </a>
                            </li>
                            <li><a href="#" th:herf="@{/perPageCount(param.perPageRecordCount=20)}" >20</a>
                            </li>
                        </ul>-->
                    </span> 条记录
                </span>
            </div>
            <div class="pagination" style="display:inline;float:right;">
                <ul class="pagination pagination-outline">
                    <li class="page-first"><a href="#" th:href="@{/currentPage(page=0)}">«</a></li>
                    <li class="page-pre" th:if="${pageInfo.getPreviousPage() gt 0}">
                        <a href="#" th:href="@{/currentPage(page=${pageInfo.currentPage-1})}">‹</a>
                    </li>
                    <!--总页数小于等于5-->
                    <div th:if="${(pageInfo.totalPageCount le 5) and (pageInfo.totalPageCount gt 0)}" style="float:left;">
                        <div style="display:inline;" th:each="pg : ${#numbers.sequence(0, pageInfo.totalPageCount - 1)}" >
                        <span th:if="${pg eq pageInfo.getCurrentPage()}" >
                            <li class="page-number active" style="display:inline;"><span class="current_page line_height" th:text="${pg+1}">${currentPage}</span></li>
                        </span>
                        <span th:unless="${pg eq pageInfo.getCurrentPage()}" >
                            <li class="page-number" style="display:inline;"><a href="#" th:href="@{/currentPage(page=${pg})}" th:text="${pg+1}"></a></li>
                        </span>
                        </div>
                    </div>
                    <!-- 总数数大于5时 -->
                    <div th:if="${pageInfo.totalPageCount gt 5}" style="float:left;">
                        <li th:if="${pageInfo.currentPage-2 ge 0}" class="page-number" style="display:inline;border:1px;"><a href="#" th:href="@{/currentPage(page=${pageInfo.currentPage}-2)}" th:text="${pageInfo.currentPage-1}"></a></li>
                        <li th:if="${pageInfo.currentPage-1 ge 0}" class="page-number" style="display:inline;"><a href="#" th:href="@{/currentPage(page=${pageInfo.currentPage}-1)}" th:text="${pageInfo.currentPage}"></a></li>
                        <li class="page-number active" style="display:inline;"><span class="current_page line_height" th:text="${pageInfo.currentPage+1}"></span></li>
                        <li th:if="${pageInfo.currentPage+1 lt pageInfo.totalPageCount}" class="page-number" style="display:inline;"><a href="#" th:href="@{/currentPage(page=${pageInfo.currentPage}+1)}" th:text="${pageInfo.currentPage+2}"></a></li>
                        <li th:if="${pageInfo.currentPage+2 lt pageInfo.totalPageCount}" class="page-number" style="display:inline;"><a href="#" th:href="@{/currentPage(page=${pageInfo.currentPage}+2)}" th:text="${pageInfo.currentPage+3}"></a></li>
                    </div>

                    <li class= "page-next" th:if="${pageInfo.getNextPage() le pageInfo.totalPageCount-1}">
                        <a href="#" th:href="@{/currentPage(page=${pageInfo.currentPage+1})}">›</a>
                    </li>
                    <li class="page-last"><a href="#" th:href="@{/currentPage(page=${pageInfo.totalPageCount-1})}" >»</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--<div th:include="include :: footer"></div>-->

<!--<script type="text/javascript" src="/js/appjs/sys/user/user.js"></script>-->

</body>
<script src="/dist/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    var pageCount = $('#recordsPerPage option:selected').val();
    alert(pageCount);

</script>
</html>